*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(21, 21, 21);
}

.Navbar{
    width: 100%;
    height: 7vh;
    background-color: rgb(21, 21, 21);
    display: flex;
}

.Navbar .logo{
    width: 15%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 60%;
    height: 100%;
}

.nav-links{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    transition: border-bottom 0.2s;
    color: rgb(173, 171, 171);
    cursor: pointer;
}

.nav-links a:hover{
    border-bottom: 3px solid red;
    color: rgb(235, 229, 229);
}

.right-box{
    width: 35%;
    height: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-box .container{
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;

}

.right-box .search,.bell{
    width: 7vh;
    height: 100%;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box .search, .bell i{
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.right-box .account{
    width: 4vh;
    height: 4vh;
    margin-right: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.right-box .account img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*main-movie*/
.main-movie{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container-two{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-movie img{
    width: 100%;
    height: 100%;
}

.details{
    width: 50%;
    height: 50%;
    /* background-color: yellowgreen; */
    position: absolute;
    left: 0;
    margin-top: 20vh;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.details .movie-title{
    width: 100%;
    height: 25%;
    /* background-color: rgb(61, 161, 151); */
    display: flex;
    align-items: center;
}

.movie-title h1{
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    margin-left: 10px;
    color: white;
}
.details .rating{
    width: 100%;
    height: 10%;
    /* background-color: rgb(87, 151, 145); */
    display: flex;
    align-items: center;
}

.rating .stars, .year, .genre, .age{
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.stars i{
    margin-left: 2px;
}

.year, .genre, .age{
    display: flex;
    align-items: center;
}

.year, .genre, .age h4{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.age{
    border: 1px solid white;
    padding: 5px;
    height: 40%;
}

.details .desc{
    width: 70%;
    height: 30%;
    /* background-color: rgb(57, 95, 91); */
    display: flex;
    color: white;
    align-items: center;
}

.desc p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;
}

.details .movie-btns{
    width: 100%;
    height: 25%;
    /* background-color: rgb(23, 69, 65); */
    display: flex;
    align-items: center;
}

.movie-btns button{
    margin-left: 10px;
    width: 10vh;
    height: 3vh;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    border: 0;
    cursor: pointer;
}
.play{
    background-color: red;
}
.mylist{
    background-color: rgb(110, 110, 110);
}